################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Backend/AiLearner_API/appsettings.Development.json
/Backend/AiLearner_API/appsettings.Development.json
