/* Add this in your styles.css or component-specific CSS file */
.expandable-text {
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
  }
  
  .collapsed {
    /* max-height: 4.5rem; */
    line-clamp: 3; /* Adjust this value based on your text line height */
  }
  
  .expanded {
    max-height: 10rem; /* Set a large max-height for the expanded state */
  }
  .text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    
  }
  .line-clamp-3, .line-clamp-none {
    transition: max-height 0.3s ease-in-out;
    overflow: hidden;
  }
  
  .line-clamp-transition {
    max-height: 5em; /* Adjust based on your text size */
  }