**.vs/
**bin/
**obj/
*.usergit 
*.userosscache
*.suo
*.userprefs
*.ds_store
*.cache
*.csproj.user
*.vbproj.user
*.json
*.config
*.pubxml
*.arm.json
AiLearner_API/Properties
AiLearner_API/logs

!appsettings.json
!appsettings.Development.json

