<div class="min-h-48 max-w-2xl bg-gray-600 mx-auto my-4 rounded-lg p-3">
  <div class="flex justify-center">
    <h3 class="text-lg mb-5 font-bold text-white text-shadow">
      {{ material?.topic }}
    </h3>
  </div>
  <p class="line-clamp-5 text-gray-400">
    {{ material?.content }}
  </p>
  <button
    (click)="showOrHideContent()"
    class="text-sm underline text-blue-500 self-start cursor-pointer"
  >
    Show Content
  </button>

  <button
    class="block mx-auto text-xl text-white text-shadow bg-violet-600 py-2 px-20 rounded-3xl mt-7 shadow-2xl"
  >
    Start Exam
  </button>
</div>

<app-content-dialog
  [material]="material"
  [showContent]="showContent"
></app-content-dialog>
