<div class="max-w-2xl p-3 mx-auto my-4 bg-gray-600 rounded-lg min-h-48">
  <div class="flex justify-center">
    <h3 class="mb-5 text-lg font-bold text-white text-shadow">
      {{ material?.topic }}
    </h3>
  </div>
  <p class="text-gray-400 line-clamp-5">
    {{ material?.content }}
  </p>
  <button
    (click)="showOrHideContent()"
    class="self-start text-sm text-blue-500 underline cursor-pointer"
  >
    Show Content
  </button>

  <button
  [routerLink]="['./exam', '1']"
    class="block px-20 py-2 mx-auto text-xl text-white shadow-2xl text-shadow bg-violet-600 rounded-3xl mt-7"
  >
    Start Exam
  </button>
</div>

<app-content-dialog
  [material]="material"
  [showContent]="showContent"
></app-content-dialog>
