<div class="bg-orange-600 w-96 h-96">
    <h1 class="text-3xl text-white">Test Page</h1>
    <p class="text-white">This is a test page</p>
</div>

<button (click)="testGetUserFromAzure()" class="p-3 bg-slate-700">Test Api Connection</button>
<button (click)="signUp()" class="p-3 bg-slate-700">Test user signup</button>
<button (click)="loginUser()" class="p-3 bg-slate-700">Test user Login</button>
<button (click)="showSuccess()" class="p-3 bg-slate-700">Test toastr</button>
<button (click)="callAuth()" class="p-3 bg-slate-700">Test Auth 401</button>

<div *ngIf="userId; else notLoggedIn">
    Welcome, your user ID is: {{ userId }}
  </div>
  
  <ng-template #notLoggedIn>
    Please log in.
  </ng-template>