<div
  class="min-h-96 pb-4 w-11/12 px-4 mx-auto my-10 md:max-w-2xl md:mx-auto animate-scale-up bg-slate-400/[.2] rounded-3xl shadow-2xl"
>
  <div>
    <h3 class="p-5 text-xl font-bold text-center text-white text-shadow">
      Privacy Policy for Ai Learner
    </h3>
    <p class="text-white text-shadow font-zabal">Effective Date: 01/05/2024</p>
    <div
      class="grid pt-3 text-left border-t border-gray-200 md:gap-16 md:grid-cols-2"
    ></div>
    <p class="text-white text-shadow font-zabal">
      Welcome to Ai Learner! We are committed to protecting your privacy and
      ensuring that your personal information is collected and used properly,
      transparently, and securely.
    </p>
    <h4 class="pt-12 text-xl font-semibold text-white text-shadow">
      Information We Collect
    </h4>
    <div
      class="grid pt-3 text-left border-t border-gray-200 md:gap-16 md:grid-cols-2"
    ></div>
    <p class="text-white text-shadow font-zabal">
      At Ai Learner, we collect the following types of personal information:
    </p>
    <ul class="pt-4 pl-4 text-white list-disc text-shadow font-zabal">
      <li class="font-bold">
        Email Addresses: We collect your email address when you sign up for our
        services. This is used for identification and login purposes.
      </li>
      <li class="pt-2">
        <strong> Study Material</strong>: We collect any study material you
        upload on our platform. This material is used to create personalized
        quizzes for your self-study.
      </li>
    </ul>
    <h4 class="pt-12 text-xl font-semibold text-white text-shadow">
      How We Collect Information
    </h4>
    <div
      class="grid pt-3 text-left border-t border-gray-200 md:gap-16 md:grid-cols-2"
    ></div>
    <p class="text-white text-shadow font-zabal">
      We collect information directly from you when you:
    </p>
    <ul class="pt-4 pl-4 text-white list-disc text-shadow font-zabal">
      <li class="font-bold">Register on our platform and create an account.</li>
      <li class="pt-2">Upload study materials for personal use in quizzes.</li>
    </ul>

    <h4 class="pt-12 text-xl font-semibold text-white text-shadow">
      Purpose of Information Collection
    </h4>
    <div
      class="grid pt-3 text-left border-t border-gray-200 md:gap-16 md:grid-cols-2"
    ></div>
    <p class="text-white text-shadow font-zabal">
      The information we collect serves the following purposes:
    </p>
    <ul class="pt-4 pl-4 text-white list-disc text-shadow font-zabal">
      <li class="font-bold">
        Email Addresses: Your email is used to uniquely identify you on our
        platform, allowing you to access and manage your account.
      </li>
      <li class="pt-2">
        <strong> Study Material</strong>: The study material you provide is used
        to customize your learning experience, enabling you to test yourself
        with quizzes based on your own materials.
      </li>
    </ul>

    <h4 class="pt-12 text-xl font-semibold text-white text-shadow">
      Storage and Security of Your Information
    </h4>
    <div
      class="grid pt-3 text-left border-t border-gray-200 md:gap-16 md:grid-cols-2"
    ></div>
    <p class="text-white text-shadow font-zabal">
      Your personal information and uploaded materials are stored in a secure
      Azure SQL Database. We implement a variety of security measures to maintain
      the safety of your personal information.
    </p>

    <h4 class="pt-12 text-xl font-semibold text-white text-shadow">
      Sharing of Information
    </h4>
    <div
      class="grid pt-3 text-left border-t border-gray-200 md:gap-16 md:grid-cols-2"
    ></div>
    <p class="text-white text-shadow font-zabal">
      Ai Learner does not share your personal information or uploaded materials
      with any third parties.
    </p>

    <h4 class="pt-12 text-xl font-semibold text-white text-shadow">
      Your Rights
    </h4>
    <div
      class="grid pt-3 text-left border-t border-gray-200 md:gap-16 md:grid-cols-2"
    ></div>
    <p class="text-white text-shadow font-zabal">
      You have the right to access and update your personal information or to
      request deletion of your information. If you wish to exercise these rights,
      please contact us at the details below.
    </p>

    <h4 class="pt-12 text-xl font-semibold text-white text-shadow">
      Contact Us
    </h4>
    <div
      class="grid pt-3 text-left border-t border-gray-200 md:gap-16 md:grid-cols-2"
    ></div>
    <p class="text-white text-shadow font-zabal">
      If you have any questions or concerns about our privacy policy or the
      handling of your personal information, please contact us via email at:
    </p>
    <p class="text-white text-shadow font-zabal">Email: Michael1mic1gmail.com</p>

    <h4 class="pt-12 text-xl font-semibold text-white text-shadow">
      Changes to This Privacy Policy
    </h4>
    <div
      class="grid pt-3 text-left border-t border-gray-200 md:gap-16 md:grid-cols-2"
    ></div>
    <p class="text-white text-shadow font-zabal">
      We may update our Privacy Policy from time to time. We will notify you of
      any changes by posting the new Privacy Policy on this page. We encourage you
      to review this Privacy Policy periodically for any changes.
    </p>
    
  </div>
</div>

