<!-- This is the main container for the header. It uses flexbox for layout and has a specific height and background color. -->
<div
  class="sticky top-0 z-10 flex items-center justify-between bg-white h-14 bg-opacity-35 animated"
>
  <!-- This button is for toggling the sidebar. It is only visible on small screens. -->
  <button class="p-4 sm:hidden" (click)="toggleSidebar()">
    <img
      src="../../../assets/SVG/hamburger-icon.svg"
      alt="hamburger-icon"
      class="h-6 p-0 m-0 transition duration-300 transform cursor-pointer hover:scale-110 custom-drop-shadow"
    />
  </button>

  <!-- This is the logo of the website. -->
  <img
    routerLink="/"
    src="../../../assets/Images/Logo-Placeholder.png"
    alt="Logo"
    class="ml-5 transition duration-300 transform cursor-pointer h-14 sm:h-12 sm:ml-1 hover:scale-110 custom-drop-shadow"
  />

  <!-- This is the navigation menu. It is hidden on small screens and becomes visible on larger screens. -->
  <div class="items-center hidden gap-4 px-3 sm:flex sm:mr-auto">
    <p
      routerLink="/{{ item | replaceSpace }}"
      *ngFor="let item of navArray"
      class="relative text-sm transition duration-300 transform cursor-pointer sm:text-lg hover:text-white nav-item hover:shadow-sm hover:scale-110"
    >
      {{ item }}
    </p>
  </div>

  <!-- This is the Login text. It is hidden on small screens and becomes visible on larger screens. -->
  <div routerLink="/login" class="items-center hidden gap-4 mx-3 sm:flex">
    <p class="text-lg duration-300 cursor-pointer hover:scale-105">Login</p>
  </div>

  <!-- This is the sign up button. It has a specific styling. -->
  <button routerLink="signup">
    <p
      class="text-sm text-white sm:text-lg mr-2 font-bold whitespace-nowrap cursor-pointer p-item p-1 px-1.5 border rounded-md border-gray-300 hover:scale-105 transition duration-300"
    >
      Sign Up
    </p>
  </button>

  <!-- This is the sidebar for small screens. It is hidden by default and becomes visible when the hamburger button is clicked. -->
  <div
    class="absolute left-0 transition-transform duration-300 ease-in-out transform -translate-x-full bg-white top-14 sm:hidden"
    [class.translate-x-0]="showSidebar"
    [class.-translate-x-full]="!showSidebar"
  >
    <div class="flex flex-col h-auto gap-4 p-4 bg-slate-300">
      <p
        *ngFor="let item of navArray"
        routerLink="/{{ item | replaceSpace }}"
        class="text-lg transition duration-300 cursor-pointer hover:text-white"
        (click)="toggleSidebar()"
      >
        {{ item }}
      </p>
      <p
        routerLink="/login"
        class="text-lg duration-300 cursor-pointer hover:scale-105"
        (click)="toggleSidebar()"
      >
        Login
      </p>
      <p
        routerLink="/signup"
        class="text-lg font-bold duration-300 cursor-pointer hover:scale-105"
        (click)="toggleSidebar()"
      >
        Sign Up
      </p>
    </div>
  </div>
</div>
