<div
  class="min-h-96 mb-4 w-11/12 px-4 mx-auto mt-10 md:max-w-2xl md:mx-auto animate-scale-up bg-slate-400/[.1] rounded-3xl shadow-2xl"
>
  <div>
    <h3 class="p-5 text-3xl font-bold text-center text-white text-shadow">
      About
    </h3>
    <div
      class="grid pt-4 text-left border-t border-gray-200 md:gap-16 md:grid-cols-2"
    ></div>
    <p class="text-white text-shadow font-zabal">
      Welcome to Ai Learner, where we believe in empowering learners through
      advanced technology. Leveraging the capabilities of OpenAI's API, our
      platform transforms traditional study materials into engaging and adaptive
      quizzes. Our mission is to facilitate a deeper understanding and retention
      of knowledge, making learning not just interactive but also highly
      effective.
    </p>
  </div>
  <div class="pb-2">
    <h3 class="p-5 text-2xl font-bold text-center text-white text-shadow">
      FAQs
    </h3>
    <div
      class="grid pt-4 text-left border-t border-gray-200 md:gap-16 md:grid-cols-2"
    ></div>
    <div
      *ngFor="let question of questions; index as i"
      class="p-3 my-2 border rounded-md bg-slate-400/[.08] border-slate-400/[0.8]"
    >
      <p
        (click)="changeVisability(i)"
        class="text-base font-semibold text-white text-shadow rounded-sm cursor-pointer border-slate-400/[0.3]"
      >
        {{ question }}
      </p>

      <div
        [ngStyle]="{
          'max-height': visability[i] ? '200px' : '0px',
          overflow: 'hidden'
        }"
        class="transition-all duration-300 ease-in"
      >
        <div
          class="grid pt-2 mt-4 text-left border-t border-gray-200 md:gap-16 md:grid-cols-2"
        ></div>
        <p class="px-3 text-white font-zabal text-shadow-sm">
          {{ answers[i] }}
        </p>
      </div>
    </div>
  </div>
</div>
