<div
  class="h-96 w-11/12 mx-auto mt-10 md:max-w-2xl md:mx-auto bg-slate-400/[.1] rounded-3xl shadow-2xl"
>
  <h3 class="p-5 text-2xl font-bold text-center text-white">Login</h3>

  <form
    #loginForm="ngForm"
    (submit)="onSubmit($event)"
    class="flex flex-col items-center"
  >
    <label for="email" class="w-11/12 mx-auto text-center text-white">Email:</label>
    <input
      class="w-11/12 p-2 text-lg text-center border-2 border-gray-500 md:w-3/4 rounded-2xl"
      type="email"
      id="email"
      name="email"
      [(ngModel)]="userEmail"
      #email="ngModel"
      required
      email
    />
    <div *ngIf="email.invalid && email.touched">
      <p *ngIf="email.errors?.['required']">Email is required.</p>
      <p *ngIf="email.errors?.['email']">Please enter a valid email.</p>
    </div>

    <label for="password" class="w-11/12 mx-auto mt-2 text-center text-white"
      >Password:</label
    >
    <div class="relative w-11/12 mx-auto md:w-3/4">
      <input
        class="w-full p-2 text-lg border-2 border-gray-500 rounded-2xl"
        [type]="hide ? 'password' : 'text'"
        id="password"
        name="password"
        [(ngModel)]="userPassword"
        #password="ngModel"
        required
        minlength="8"
      />
      <button
        type="button"
        class="absolute inset-y-0 right-0 flex items-center justify-center mr-6"
        (click)="hide = !hide"
      >
        <i [ngClass]="hide ? 'fa fa-eye-slash' : 'fa fa-eye'"></i>
      </button>
    </div>

    <div *ngIf="password.invalid && password.touched">
      <p *ngIf="password.errors?.['required']">Password is required.</p>
      <p *ngIf="password.errors?.['minlength']">
        Password must be at least 8 characters long.
      </p>
    </div>

    <button type="submit" class="px-6 py-2 mt-2 bg-gray-400 shadow-2xl rounded-3xl">
      Submit
    </button>
    <div *ngIf="isError" class="items-center p-5">
      <p class="text-red-500">Error registering user</p>
    </div>
  </form>
</div>
