<footer class="bg-slate-400/[.1] shadow-2xl mt-8">
  <div class="w-full max-w-screen-xl p-4 py-6 mx-auto lg:py-8">
    <div class="md:flex md:justify-between">
      <div class="mb-6 md:mb-0">
        <a href="" class="flex items-center drop-shadow-img-shadow">
          <img
            src="../../../assets/SVG/logo-no-background.svg"
            class="h-8 me-3"
            alt="Ai Learner logo"
          />
        </a>
      </div>
      <div class="grid grid-cols-2 gap-8 sm:gap-6 sm:grid-cols-3">
        <div>
          <h2
            class="mb-6 font-semibold text-gray-900 uppercase text-shadow-white"
          >
            Follow us
          </h2>
          <ul class="font-medium text-gray-300 text-shadow">
            <li class="mb-4">
              <a href="https://github.com/MichaelHazut" target="_blank" class="hover:underline"
                >Github</a
              >
            </li>
            <li>
              <a href="https://www.linkedin.com/in/michaelhazut" target="_blank" class="hover:underline"
                >LinkedIn</a
              >
            </li>
          </ul>
        </div>
        <div>
          <h2
            class="mb-6 text-sm font-semibold text-gray-900 uppercase text-shadow-white"
          >
            Legal
          </h2>
          <ul class="font-medium text-gray-300 text-shadow ">
            <li class="mb-4">
              <a (click)="navigateToPrivacyPolicy()" class="hover:underline cursor-pointer"
                >Privacy Policy</a
              >
            </li>
          </ul>
        </div>
        <div>
          <h2
            class="mb-6 text-sm font-semibold text-gray-900 uppercase text-shadow-white"
          >
            Contact Us
          </h2>
          <ul class="font-medium text-gray-300 text-shadow ">
            <li class="mb-4">
              <span href=""  class="hover:underline"
                >Michael1mic1&#64;gmail.com</span
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
    <hr class="my-6 border-gray-400 sm:mx-auto lg:my-8" />
    <span class="font-medium text-gray-300 text-shadow sm:text-center "
      >© 2024
      <span>Ai Learner™</span>.
      All Rights Reserved.
    </span>
  </div>
</footer>
