/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Zabal";
  src: url("assets/Fonts/Zabal/ZabalDEMO-SemiBold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}
textarea {
  resize: none !important;
}


@tailwind base;
@tailwind components;
@tailwind utilities;
