<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Suez+One&display=swap"
  rel="stylesheet"
/>

<div class="bg-slate-900">
  <div class="flex flex-col items-center animated h-svh">
    <div class="pt-4">
      <div
        class="w-72 lg:w-85 h-10 rounded-3xl bg-gradient-to-r from-pink-500 via-sky-500 to-green-400 p-0.5"
      >
        <div
          class="flex items-center justify-center h-full w-full bg-gray-800 rounded-3xl"
        >
          <img
            src="../../../assets/SVG/brain-icon.svg"
            alt="brain icon"
            class="h-5 bg-gradient-to-r from-pink-500 to-violet-400 p-0.5 rounded-full"
          />
          <h3
            class="lg:text-xl font-mono text-transparent bg-clip-text bg-gradient-to-r from-pink-500 via-sky-500 to-green-400 p-2 truncate"
          >
            Learning in your own way
          </h3>
        </div>
      </div>
    </div>

    <div class="mx-auto mt-6 px-8 lg:line-clamp-2 max-w-2xl">
      <h1 class="font-bold text-3xl lg:text-6xl text-white text-center">
        Welcome to Ai Learner the best place to learn and grow
      </h1>
    </div>

    <div class="flex">
      <button
        class="flex bg-white mt-8 shadow-md font-semibold pl-7 pr-2 py-4 rounded-lg"
      >
        <span class="leading-5"> Get started with Ai Learner </span>
        <div class="flex">
          <img
            src="../../../assets/SVG/arrow1-icon.svg"
            alt="arrow"
            class="arrowImg1 pr-3 h-6"
          />

          <img
            src="../../../assets/SVG/arrow2-icon.svg"
            alt="arrow"
            class="arrowImg2 pr-1 h-6"
          />
        </div>
      </button>
    </div>
  </div>
</div>
