<div class="flex flex-col items-center h-lvh animated">
  <div class="pt-4 mt-10 ">
    <div
      class="w-72 lg:w-80 h-10 shadow-2xl rounded-3xl bg-gradient-to-r from-pink-500 via-sky-500 to-green-400 p-0.5"
    >
      <div
        class="flex items-center justify-center h-full bg-gray-800 lg:px-4 min-w-fit rounded-3xl"
      >

      <img
          src="../../../assets/SVG/brain-icon.svg"
          alt="brain icon"
          class="h-5 bg-gradient-to-r from-pink-500 to-violet-400 p-0.5 rounded-full"
        />
        <h3
          class="p-2 text-transparent truncate font-zabal lg:text-xl min-w-fit bg-clip-text bg-gradient-to-r from-pink-500 via-sky-500 to-green-400"
        >
          Learning in your own way
        </h3>
      </div>
    </div>
  </div>

  <div class="max-w-2xl px-8 mx-auto mt-6">
    <h1 class="text-3xl font-bold text-center text-white text-shadow font-zabal lg:text-5xl">
      Welcome to Ai Learner the best place to learn and grow
    </h1>
  </div>

  <div class="flex">
    <button
      routerLink="/signup" class="flex py-4 pr-2 mt-8 font-semibold bg-white rounded-lg shadow-md pl-7"
    >
      <span class="leading-5 text-shadow font-zabal"> Get started with Ai Learner </span>
      <div class="flex">
        <img
          src="../../../assets/SVG/arrow1-icon.svg"
          alt="arrow"
          class="h-6 pr-3 arrowImg1"
        />

        <img
          src="../../../assets/SVG/arrow2-icon.svg"
          alt="arrow"
          class="h-6 pr-1 arrowImg2"
        />
      </div>
    </button>
  </div>
</div>
